- if (everyauth.loggedIn)
- var fb = everyauth.facebook.user
- var profilePic = "http://graph.facebook.com/"+fb.id+"/picture?type=large"
- var name=fb.name +" ("+fb.username+")"
div.hero-unit
  h2 Facebook Profile
  img(src=profilePic)
  p
  a(class="btn btn-primary btn-large", href=fb.link)
    = name