div.hero-unit
  h1 PhotoShare
  p PhotoShare is a sandbox application integrating various technologies: MongoDB, Mongoose ODM, ExpressJS Framework, Jade Templates, EveryAuth and the Facebook JSSDK. Image processing is provided by ImageMagick and EasyImage NPM. Base CSS definitions and UI components are based on Twitter Bootstrap.
  - if (everyauth.loggedIn)
    a(class="btn btn-primary btn-large",href="/logout") Sign off
  - else
    a(class="btn btn-primary btn-large",href="/auth/facebook") Login via Facebook