div.hero-unit
  h1=config.name
  p=config.description
  - if (everyauth.loggedIn)
    a(class="btn btn-primary btn-large",href="/logout") Sign off
  - else
    a(class="btn btn-primary btn-large",href="/auth/facebook") Login via Facebook