h2 Image Details
- var filename='/images/'+image[0].path+"."+image[0].ext;
div.box
	img(src=filename)
br
div(class="fb-comments",data-href="http://localhost:8080/"+filename,data-num-posts="5",data-width="500")
