ul.thumbnails
- each image,i in images
    - var filename='/thumb/'+images[i].path+"."+images[i].ext;
    li.span2
        a.thumbnail(href='/photo/'+images[i]._id)
            img(src=filename)
include includes/comment