!!! 5
html(lang="en")
  head
    meta(charset="utf-8)
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content="")
    meta(name="author",content="")
    title= typeof(title) !== 'undefined' ? title : "Photo Share"
    link(rel="stylesheet",href="/css/bootstrap.css")
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    script(type='text/javascript')
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=154938707930956";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    style(type="text/css")
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .clear {
        clear:both;
        margin: 15px 0px 0px 15px;
       }
      
  body
    include includes/header
    div.container-fluid
        div.row-fluid
            != body
    script(src="/js/jquery.js")
    script(src="/js/bootstrap-transition.js")
    script(src="/js/bootstrap-alert.js")
    script(src="/js/bootstrap-modal.js")
    script(src="/js/bootstrap-dropdown.js")
    script(src="/js/bootstrap-scrollspy.js")
    script(src="/js/bootstrap-tab.js")
    script(src="/js/bootstrap-tooltip.js")
    script(src="/js/bootstrap-popover.js")
    script(src="/js/bootstrap-button.js")
    script(src="/js/bootstrap-collapse.js")
    script(src="/js/bootstrap-carousel.js")
    script(src="/js/bootstrap-typeahead.js")
    div(id="fb-root")