!!! 5
html
  head
    title= typeof(title) !== 'undefined' ? title : "Photo Share"
    link(rel="stylesheet",href="/style/html5reset-1.6.1.css")
    link(rel="stylesheet",href="/style/style.css")
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    script(type='text/javascript')
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=154938707930956";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  body
    div(id="fb-root")
    div.content
        a(href="/")
            h1.masthead Photo Share
        #main
        != body
