h2 Upload
- if ('undefined' !== typeof errors && errors.length)
    ul#errors
    - each error in errors
        li.error= error
form(action='upload',enctype='multipart/form-data',method='post')
    #filefield
        input(type='file',name='uploads',multiple='multiple')
    br.clear
    #title
        input(type='text',name='title')
    #description
        label(for='description') Description
        textarea(name='description',rows=5,cols=60)
    #send
        input(type='submit',value='Upload',class='btn btn-primary')
